
body {
  padding-top: 30px;
  padding-bottom: 20px; }

.twitter-item h3 {
  font-size: 20px;
  text-align: left;
  color: #6b6b6b; }

.card-item {
  line-height: 18px;
  margin-left: 58px; }

.card-item:hover {
  background-color: rgba(107, 107, 107, 0.2); }

.card-item #root {
  margin-top: 20px;
  margin-bottom: 10px; }


.card-item .title-extra {
  color: #6b6b6b; }


.card-item .icon {
  width: 58px;
  margin-left: -60px;
  height: auto;
  float: left; }

.card-item-header b {
  font-size: 20px; }

.card-item-header {
  font-size: 18px; }

#knowledge-feed {
  color: #6b6b6b;
  font-size: 40px;
  text-align: justify; }
  @media (max-width: 600px) {
    #knowledge-feed {
      font-size: 24px; } }
