$primary-color: rgba(107, 107, 107, 1);
$hover-over-color : rgba(107, 107, 107, 0.2);
.navbar-brand:hover,
.navbar-brand:focus {
}

body
{
	padding-top : 30px;
}

.twitter-item h3
{
	font-size: 20px;
	text-align : left;
	color : $primary-color;
}

.card-item
{
  line-height : 18px;
  margin-left: 58px;
}

.card-item:hover
{
  background-color : $hover-over-color;
}

.card-item #root
{
	margin-top : 20px;
	margin-bottom : 10px;
}

.card-item b
{
}

.card-item .title-extra
{
	color : $primary-color;
}

.card-item-header
{
}

.card-item .icon 
{
    width : 58px;
    margin-left: -60px;
    height: auto;
    float : left;
}

.card-item-header b
{
    font-size: 20px;
}

.card-item-header
{
    font-size: 18px; 
}

#knowledge-feed
{
  color : $primary-color;
  font-size: 40px;
  @media (max-width: 600px) {font-size: 24px;}
  text-align : justify;
}






